@import url("../styles/HelveticaFont/style.css");
@import url("../styles/HelveticaFont_Light/style.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Lo siguiente modificara el Scrollbar */

::-webkit-scrollbar {
  background: linear-gradient(90deg, rgb(78, 25, 25), rgb(15, 15, 128)); 
}

::-webkit-scrollbar-thumb {
  /* set the size of the thumb (the moving part of the scrollbar) */
  width: 5px;
  height: 5px;
  /* add some background color to the thumb */
  background: linear-gradient(180deg, rgb(9, 69, 106), rgb(113, 29, 10));
  /* add some border to the thumb */
  border: 1px solid rgb(128, 37, 16);
  /* add some rounded corners to the thumb */
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(180deg, rgb(14, 118, 183), rgb(189, 52, 21));
}

nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  /* top: 0; */
}

nav div {
  padding: 1.5rem ;
  padding-left: 2rem;
  padding-right: 2rem;
  /* background-color: aquamarine; */
}

div {
  margin-top: 5px;
  margin-bottom: 5px;
}

.title {
  width: 75%;
  color: beige;
  font-family: "Press Start 2P";
  margin: 0 auto;
  text-align: center;
}

body {
  min-height: 100vh;
  display: block;
  justify-content: center;
  text-align: center;
  background: linear-gradient(132deg, rgb(54, 4, 4), rgb(2, 3, 35));
  color:rgb(145, 149, 181);
}

.card-container {
  display: flex;  
  overflow-x: scroll;
  /* background-color: rgb(0, 255, 21); */
}

.cardi-b {
  border-radius: 10%;
  /* box-shadow: 2px 10px 4px rgb(10, 243, 26),  2px 0px 4px rgb(89, 241, 221);
  border: 10px lime; */

  margin: 10px;
  border-radius: 7%;
  box-shadow: 0px 0px 2px black;
  background-color: inherit;
  scale: 1;
  transition: scale 300ms;
}

.cardi-b:hover {
  animation: scalecard 300ms linear 1 forwards;
}

.cardi-b img {
  border-radius: 10%;
  padding: 4px;
}

h2 {
  margin: 4px
}

.cardi-b div {
  display: flex;
  justify-content: space-between;
  margin: 4px;
}

/* .cardi-b h2 {
  color:rgb(6, 6, 6);
}

.cardi-b h5 {
  color:rgb(6, 6, 6);
} */