@import url("../styles/HelveticaFont/style.css");
@import url("../styles/HelveticaFont_Light/style.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Lo siguiente modificara el Scrollbar */

::-webkit-scrollbar {
  background: linear-gradient(90deg, rgb(78, 25, 25), rgb(15, 15, 128)); 
}

::-webkit-scrollbar-thumb {
  /* set the size of the thumb (the moving part of the scrollbar) */
  width: 5px;
  height: 5px;
  /* add some background color to the thumb */
  background: linear-gradient(70deg, rgb(9, 106, 106), rgb(10, 113, 10));
  /* add some border to the thumb */
  border: 1px solid rgb(45, 154, 45);
  /* add some rounded corners to the thumb */
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(70deg, rgb(17, 159, 159), rgb(15, 150, 15));
}

nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
}

nav div {
  padding: 1.5rem ;
  padding-left: 2rem;
  padding-right: 2rem;
  /* background-color: aquamarine; */
}

/* div:has(> h1) {
  width: 75%;
  background-color: beige;
  margin: 0 auto;
  text-align: center;
} */

.title {
  width: 75%;
  /* background-color: beige; */
  margin: 0 auto;
  text-align: center;
}

body {
  min-height: 100vh;
  display: block;
  justify-content: center;
  text-align: center;
  background: linear-gradient(132deg, rgb(54, 4, 4), rgb(2, 3, 35));
  color:rgb(145, 149, 181);
}

.card-container {
  display: flex;  
  overflow-x: scroll;
  /* background-color: rgb(0, 255, 21); */
}

.cardi-b {
  margin: 4px;
  /* background-color: brown; */
  border-radius: 7%;
  box-shadow: 0px 0px 2px black;
  background-color: rgb(135, 146, 142);
}

h2 {
  margin: 4px
}

.cardi-b div {
  display: flex;
  justify-content: space-between;
  margin: 4px;
}

.cardi-b h2 {
  color:rgb(6, 6, 6);
}

.cardi-b h5 {
  color:rgb(6, 6, 6);
}